<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bushfire Support Network</title>
{% seo title=false %}
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" >
<link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.0/normalize.css">
<link rel="stylesheet" href="https://unpkg.com/flexboxgrid@6.3.1/dist/flexboxgrid.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
<script src="https://unpkg.com/feather-icons@4.7.3/dist/feather.min.js"></script>
</head>
